<% layout('/layouts/default.html', {title: '货品信息表管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('货品信息表管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('warehouse:warehouseProduct:edit')){ %>
					<a href="${ctx}/warehouse/warehouseProduct/form" class="btn btn-default btnTool" title="${text('新增货品信息表')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${warehouseProduct}" action="${ctx}/warehouse/warehouseProduct/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('商品名称')}：</label>
					<div class="control-inline">
						<#form:input path="productName" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('所属分类')}：</label>
					<div class="control-inline">
						<div class="col-sm-8">
								<#form:treeselect id="parent" title="${text('上级库存类型')}"
									path="typeId" labelPath="typeName"
									url="${ctx}/warehouse/warehouseType/treeData?excludeCode=${warehouseProduct.id}"
									class="" allowClear="true" canSelectRoot="true" canSelectParent="true"/>
							</div>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('单位')}：</label>
					<div class="control-inline">
						<#form:input path="unit" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('规格')}：</label>
					<div class="control-inline">
						<#form:input path="specification" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('零售价')}：</label>
					<div class="control-inline">
						<#form:input path="retailPrice" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('批发价')}：</label>
					<div class="control-inline">
						<#form:input path="wholesalePrice" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('折扣率')}：</label>
					<div class="control-inline">
						<#form:input path="discountRate" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('成本价')}：</label>
					<div class="control-inline">
						<#form:input path="costPrice" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('状态')}：</label>
					<div class="control-inline width-120">
						<#form:select path="status" dictType="sys_search_status" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('库存数量')}：</label>
					<div class="control-inline">
						<#form:input path="inventoryNum" maxlength="11" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('备注信息')}：</label>
					<div class="control-inline">
						<#form:input path="remarks" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text('商品名称')}', name:'productName', index:'a.product_name', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/warehouse/warehouseProduct/form?id='+row.id+'" class="btnList" data-title="${text('编辑货品信息表')}">'+(val||row.id)+'</a>';
		}},
		{header:'${text('所属分类')}', name:'typeName', index:'a.type_name', width:150, align:"left"},
		{header:'${text('单位')}', name:'unit', index:'a.unit', width:100, align:"left"},
		{header:'${text('规格')}', name:'specification', index:'a.specification', width:120, align:"left"},
		{header:'${text('零售价')}', name:'retailPrice', index:'a.retail_price', width:120, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text('批发价')}', name:'wholesalePrice', index:'a.wholesale_price', width:120, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text('折扣率')}', name:'discountRate', index:'a.discount_rate', width:120, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text('成本价')}', name:'costPrice', index:'a.cost_price', width:120, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text('状态')}', name:'status', index:'a.status', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('sys_search_status')}, val, '${text('未知')}', true);
		}},
		{header:'${text('库存数量')}', name:'inventoryNum', index:'a.inventory_num', width:100, align:"center"},
		{header:'${text('创建时间')}', name:'createDate', index:'a.create_date', width:200, align:"center"},
		{header:'${text('操作')}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('warehouse:warehouseProduct:edit')){ %>
				actions.push('<a href="${ctx}/warehouse/warehouseProduct/form?id='+row.id+'" class="btnList" title="${text('编辑货品信息表')}"><i class="fa fa-pencil"></i></a>&nbsp;');
				if (row.status == Global.STATUS_NORMAL){
					actions.push('<a href="${ctx}/warehouse/warehouseProduct/disable?id='+row.id+'" class="btnList" title="${text('停用货品信息表')}" data-confirm="${text('确认要停用该货品信息表吗？')}"><i class="glyphicon glyphicon-ban-circle"></i></a>&nbsp;');
				}
				if (row.status == Global.STATUS_DISABLE){
					actions.push('<a href="${ctx}/warehouse/warehouseProduct/enable?id='+row.id+'" class="btnList" title="${text('启用货品信息表')}" data-confirm="${text('确认要启用该货品信息表吗？')}"><i class="glyphicon glyphicon-ok-circle"></i></a>&nbsp;');
				}
				actions.push('<a href="${ctx}/warehouse/warehouseProduct/delete?id='+row.id+'" class="btnList" title="${text('删除货品信息表')}" data-confirm="${text('确认要删除该货品信息表吗？')}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>